#service{
    /* height: 100vh; */
    padding: 100px 10px;
    background-color: white;
}

.service_head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 30px 0px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.service_container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services{
    width: calc(30% - 10px);
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.services img{
    width: 100%;
    height: 550px; 
    border-radius: 30px;  
}

.services .service_detail{
    width: 80%;
    padding: 10px;
    margin: auto;
}

.services .service_detail h3{
    margin: 10px 0;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1.2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: capitalize;
}

.services .service_detail .para{
    font-size: 18px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    text-transform: capitalize;
    color: gray;
}

@media(max-width:1080px){
    #service{
        padding: 25px 5px;
    }
    #service .service_container{
        justify-content: space-around;
        align-items: center;
    }
    
    #service .services{
        width: calc(40% - 5px);
    }
}

@media(max-width:789px){
    #service{
        padding: 15px 5px;
    }

    #service .services{
        width: 90%;
    }
}