#about{
    width: 100%;
    /* height: 100vh; */
    padding-top: 120px;
    padding-bottom: 30px;
    overflow: hidden;
    background-color: white;
}

.about_container{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
}

.about_container-top_inner{
    width: calc(50% - 10px);
}
.top_inner-head{
    font-size: 46px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 450;
    letter-spacing: 1.5px;
}
.top_inner-title{
    font-family: cursive;
    font-style: italic;
    font-size: 22px;
    margin-top: 2px;
    color: dimgray;
    text-transform: capitalize;
}
.about_container-top_inner p{
    font-size: 20px;
    align-self: center;
    letter-spacing: 1.2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cutLine{
    width: 100%;
    margin: 20px 0;
    height: 50px;
}

.cutLine img{
    width: 100%;
    height: 100%;
}

.about_container-bottom{
    padding: 10px;
    width: 400%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about_container-bottom_image-box{
    width: calc(25% - 10px);
    border-radius: 10%;
    overflow: hidden;
    padding: 2px;
}
.about_container-bottom_image-box img{
    width: 100%;
    height: 500px;
}
.image-content{
    margin: 10px 0px;
}
.image-title{
    margin: 5px 0;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.image-title_des{
    font-size: 16px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    text-transform: capitalize;
    color: gray;
}
@media(max-width:1080px){
    .about_container-bottom_image-box{
        width: calc(50% - 10px);
        margin-bottom: 15px;
    }
}

@media(max-width:750px){
    
    .bottom{
        width: 400%;
        overflow: scroll;
    }
    .about_container-bottom{
        width: 400%!important;
        /* background-color: green; */
        padding: 5px;
        overflow-x: scroll;
    }
    .about_container-bottom_image-box{
        width: 25%;
        margin-bottom: 15px;
        /* display: none; */
    }
    .about_container-top_inner{
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .top_inner-head{
        font-size: 30px;
    }
    .about_container-top_inner p{
        font-size: 20px;
        text-align: justify;
    }
}

/* @media(max-width:600px){
    .about_container-bottom_image-box{
        width: calc(100% - 10px);
        margin-bottom: 5px;
    }
    .about_container-bottom{
        justify-content: center;
    }
    .about_container-top_inner p{
        font-size: 16px;
        text-align: justify;
    }
} */