#custom{
    /* height: 100vh; */
    z-index: -1;
    position: relative;
}
#custom .back_img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    scroll-behavior: inherit;
}
.custom_full{
    padding: 80px 0px;
    width: 100%;
    background-color: white;
}

.custom_container{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.custom_container .custom_left,.custom_right{
    width: 45%;
    /* padding: 20px;    */
}
.custom_container .custom_left{
    padding: 5px 10px;
}

.custom_left .custom_head{
    font-size: 38px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1.3px;
}

.custom_left .custom_title{
    font-size: 22px;
    margin: 15px 0;
    text-transform: capitalize;
    font-family: cursive;
    color: dimgray;
}

.custom_left .custom_para{
    font-size: 22px;
    letter-spacing: 1.3px;
}

.custom_right .custom_values{
    width: 80%;
    margin: 10px auto;
}

.custom_right .custom_values .custom_value_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.title_first,.title_sec{
    font-size: 22px;
    text-transform: capitalize;
}
.custom_right .custom_values img{
    width: 100%;
    height: 20px;
}

.custom_right .showImage{
    width: 80%;
    height: 400px;
    margin: auto;
}
.custom_right .showImage img{
    width: 100%;
    height: 100%;
}

.custom_blank{
    width: 100%;
    height: 400px;
    background-color: rgba(0,0,0,0.3);
}

@media(max-width:1080px){
    .custom_container{
        padding: 0p 10px;
    }
    .custom_blank{
        height: 300px;
    }
    .custom_container .custom_left,.custom_right{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding: 5px;
    }
    .custom_left .custom_head{
        font-size: 28px;
    }
    .custom_left .custom_para{
        font-size: 18px;
    }
}
