#home{
    height: 100vh;
    position: relative;
    color: white;
}
.home_nav{
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
}
.homeScroll{
    color: black!important;
    background-color: bisque!important;
}
.homeScroll a{
    color: black!important;
}
.home_nav-container{
    max-width: 90%;
    width: 100%;
    padding: 5px;
    margin: auto;
    /* background-color: aqua; */
}
.line{
    width: 100%;
    height: 2px;
    background-color: white;
}
.home_nav-container .upper{
    padding: 18px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upper .mail,.mobile{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    
}

.upper .logo{
    font-size: 38px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
}


.menu{
    width: 70%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.menu li{
    padding: 15px 30px;
}

.menu li a{
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: monospace;
    text-transform: capitalize;
}


/* ========= */
.slidesContainer{
    width:100%;
    height: 100%;
    overflow: hidden;
}

.slides{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: green; */
    justify-items: center;
    position: relative;
    align-items: center;
    background-size: cover;
    background-position: center;   
}
.slides img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.slides .slide_center{
    width: 750px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    text-align: center;
    /* background-color: antiquewhite; */
}

.slide_center .slide_header{
    font-size: 48px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
}
.slide_center .slide_para{
    font-size: 26px;
    font-weight: 500;
    margin: 10px 0;

}
.slide_center .slide_btn
{
    margin: auto;
    width: 200px;
    border-radius: 15px;
    padding: 10px;
    font-size: 28px;
    text-transform: capitalize;
    cursor: pointer;
    border: 2px dashed white;
}

.leftArrow,.rightArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
}
.leftArrow{
    left: 40px;
}
.rightArrow{
    right: 40px!important;
}
/* .info-box{
    display: flex;
}
.info-box span{
    font-size: 30px;
    text-transform: capitalize;
    font-style: italic;
    margin: 0 2px;
}
.info-box .info-circle{
    font-size: 30px;
} */


/* ========================== */

@media(max-width:760px){
    .home_nav-container{
        justify-content: center;
    }
    .home_nav-container .mail,.mobile{
        font-size: 20px;
    }
    .menu{
        width: 80%;
    }
    .menu li{
        padding: 10px 12px;
        font-size: 18px;
    }
    .slide_center .slide_header{
        font-size: 34px;
    }
    .slides .slide_center{
        width: 500px;
    }
    .slides .slide_btn{
        padding: 10px 7px;
        font-size: 24px;
        font-weight: 600;
    }
    .slides .slide_para{
        font-size: 22px;
    }
    .leftArrow,.rightArrow{
        display: none;
    }


}

@media(max-width:680px){
    .home_nav{
        display: none;
    }
}
