#footer{
    padding: 40px 10px;
    background-color: rgb(41, 41, 41);
}

.footer_container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer_first,.footer_box{
    width: calc(30% - 10px);
}

.footer_box .head{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1.3px;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer_box .footer_para{
    letter-spacing: 1.3px;
    font-size: 22px;
    margin: 10px 0px;
}

.footer_box .footer_link{
    font-size: 22px;
}