:root {
  /* --backGroundColor: #6495ed; */
  --boxBack: #ebdccd;
  --fontFamily:  Inter,sans-serif;
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
